 body {
 	width: 900px;
 	background: linear-gradient(to right, #4CA1AF, #C4E0E5)
 }

 .see-more {
 	text-decoration: none;
 	color: black;
 }

 .header {
 	font-size: 50px;
 	margin:20px;
 	font-family: 'Shrikhand', cursive;
 }
 .container {
 	display: grid;
 	grid-template-columns: 50% 50% 30%;
 	grid-gap: 1em;
 }

 .lor-div {
 	padding: 1em;
 	border-radius: 10px;
 }

 .lor1 {
 	grid-column: 1/3;
 	font-size: 20px;
 }

 .lor2 {
	font-size: 17px;
 }

 .lor4 {
 	grid-column: 2/4;
 	font-size: 25px;
 }

 .lor5 {
 	grid-column: 1/3;
 	font-size: 30px;
 	grid-row: 4/5;
 }

 .lor6 {
 	font-size: 32px;
 }

 .lor8 {
	grid-row: 3/5;
	font-size: 23px;
 }

/* .container > div {
 	background: #ABDCFF;
 }

 .container > div:nth-child(odd){
 	background: #9CE8B6;
 }*/

 .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    border-radius: 10px;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #3C8780;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}